.search {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}
.input {
  padding: 0.7rem;
  background-color: #fff;
  border: none;
  box-shadow: 1px 1px 2px #848484;
  border-radius: 2px;
}
.input input {
  border: none;
  outline: none;
  margin-left: 0.7rem;
}
.select select {
  padding: 0.5rem;
  border: none;
  background-color: #fff;
  box-shadow: 1px 1px 2px #848484;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .search {
    flex-direction: column;
    padding: 1rem 3rem;
  }
  .input {
    margin: 0.5rem 0;
  }
}
